.container {  display: grid;
    grid-template-columns: 1.3fr 1fr 0.9fr 0.8fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "calendar-container editPotlukk-container dishes-container attendee-container"
      "calendar-container editPotlukk-container dishes-container attendee-container"
      "calendar-container editPotlukk-container dishes-container attendee-container"
      "calendar-container editPotlukk-container dishes-container attendee-container";
  }
  
  .calendar-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.7fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "date-container date-container date-container"
      "calendar-input-container calendar-input-container calendar-input-container"
      "updatePotlukk-container updatePotlukk-container updatePotlukk-container"
      "cancelPotlukk-container cancelPotlukk-container cancelPotlukk-container";
    grid-area: calendar-container;
  }
  
  .date-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "date-header date-output-container date-output-container"
      "date-header date-output-container date-output-container"
      "date-header date-output-container date-output-container";
    grid-area: date-container;
  }
  
  .date-header { grid-area: date-header; }
  
  .date-output-container { grid-area: date-output-container; }
  
  .calendar-input-container { grid-area: calendar-input-container; }
  
  .updatePotlukk-container { grid-area: updatePotlukk-container; }
  
  .cancelPotlukk-container { grid-area: cancelPotlukk-container; }
  
  .editPotlukk-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "editTitle-container editTitle-container editTitle-container"
      "editLocation-container editLocation-container editLocation-container"
      "editDescription-container editDescription-container editDescription-container"
      "isPublic-container isPublic-container isPublic-container";
    grid-area: editPotlukk-container;
  }
  
  .editTitle-container { grid-area: editTitle-container; }
  
  .editLocation-container { grid-area: editLocation-container; }
  
  .editDescription-container { grid-area: editDescription-container; }
  
  .isPublic-container { grid-area: isPublic-container; }
  
  .dishes-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.7fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dishes-header-container dishes-header-container dishes-header-container"
      "dishes-list-container dishes-list-container dishes-list-container"
      "create-dish-container create-dish-container create-dish-container";
    grid-area: dishes-container;
  }
  
  .dishes-header-container { grid-area: dishes-header-container; }
  
  .dishes-list-container { grid-area: dishes-list-container; }
  
  .create-dish-container { grid-area: create-dish-container; }
  
  .attendee-container { grid-area: attendee-container; }
  